.footer {
    /* height: 100px; */
    /* margin-top: auto; */
    background-color: #98d3eb;
    /* position: fixed; */
    overflow: hidden;
    bottom: 0;
    width: 100%;
}

.contents {
    width: 96%;
    max-width: 1100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
