.maincoutainer {
    width: auto;
    height: 300px;
}

.container1 {
    position: relative;
    border: 2px dashed salmon;
    display: flex;
    text-align: center;
    margin-top: 30px;
}
.image {
    width: 300px;
    height: 300px;
    margin-left: 30px;
    box-sizing: border-box;
}

.image1 {
    margin-right: 200px;
    flex: 1;
}
