body {
    background-color: rgb(229, 240, 240);
}
.body-wrapper {
    position: relative;
    position: static;
    border: 2px;
    text-align: center;
}

.div {
    object-fit: fill;
    display: flex;
}
.main-img {
    justify-content: center;
    object-fit: fill;
    width: 100%;
}

.image1 {
    border: 2px solid darkblue;
}
.img-flex {
    display: flex;

    background-color: rgb(229, 240, 240);
    margin-top: 10px;
    justify-content: center;
}
.ListImg {
    margin-right: 50px;
    padding: 10px;
}

.List {
    background-color: white;
    border-radius: 50px;
}
.ListImg p {
    font-weight: bold;
    font-size: 20px;
    color: rgb(42, 115, 157);
}
