.body-wrapper {
    position: relative;
    /* display: block; */
    position: static;
    border: 2px dashed salmon;
    text-align: center;
    margin-top: 30px;

    /* overflow: hidden; */
}

.div {
    object-fit: fill;
    display: flex;
}
.main-img {
    /* clear: both; */
    justify-content: center;
    object-fit: fill;
    width: 100%;
    /* height: 100%; */
    /* width: 100vw; */
}
/* .container1 {
      position: static;
      border: 2px dashed salmon;
      display: flex;
      text-align: center;
      margin-top: 30px;
      /* float: left; */
.image1 {
    border: 2px solid darkblue;
}
.img-flex {
    display: flex;
    background-color: red;
    justify-content: center;
}
