.navbar {
    height: 10vh;
    background: #494545;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
}

.nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
    cursor: pointer;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
    margin-right: 20px;
    color: white;
}

.nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
}

.nav-item p:hover {
    background: rgb(0, 212, 212);
}
.mainimg {
    width: 50px;
    height: 30px;
}
