.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* -- 도헌꺼 */
.container {
    border: 2px dashed salmon;
}

.contents {
    display: grid;
    border: 2px dashed red;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
}
.imgContent {
    text-align: center;
}
.container img {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.detailInfo {
    border: 2px dashed skyblue;
    padding: 10px;
    box-sizing: border-box;
}
.detailInfo p {
    display: -webkit-box;
    width: 800px;
    height: 45px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.detailTitle {
    text-align: center;
}
.detailContent p:last-child:hover {
    text-decoration: underline;
}

body {
    color: #444;
}
/* navbar관련 css */
#nav {
    /* overflow: hidden; */
    width: 100%;
    max-width: 1300px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    margin-top: 30px;
    background: #fff;
    /* padding: 10px; */
    /* border: 1px solid #dbdbdb; */
}

#nav .navInner {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    overflow: unset;
}
#nav .navInner .left {
    width: auto;
}
.boxing > .left {
    display: flex;
    width: 50%;
}
ul {
    list-style: none;
}
#nav .left ul li.home {
    min-width: 80px;
    /* border-right: 1px solid #f2f2f2; */
    padding-left: 80px;
}

#nav .left ul li.home {
    min-width: 80px;
    /* border-right: 1px solid #f2f2f2; */
    padding-left: 100px;
}
#nav .left ul li {
    display: inline-block;

    color: #9c9c9c;
    position: relative;
    padding: 0 20px;
    position: relative;
    font-family: "Noto Sans", sans-serif;
}
#nav .left ul li.home::before {
    content: "";
    position: absolute;
    left: 0;
    width: 80px;
    height: 60px;
    display: inline-block;
    background: url("https://www.visitbusan.net/upload_data/board_data/BBS_0000014/164014041807796.png")
        center no-repeat;
    /* border-right: 1px solid #f2f2f2; */
}
#nav .left ul li.home::after {
    display: inline-block;
    content: ">";
    position: absolute;
    right: 0;
}
a {
    text-decoration: none;
}
.detailTitle {
    text-align: center;
}

.file-upload-input {
    display: none;
}
.main-txt {
    text-align: center;
    font-size: large;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%;
  height: 100%; */
    width: 100vw;
    height: 100vh;
}

.img-item img {
    width: 250px;
    height: 250px;
    /* min-width: 150px;
  max-width: 150px; */
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #999;
}
input {
    display: none;
}
.gallery {
    height: 600px;
    overflow: scroll;
    /* border: 2px dashed red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.IMG_Con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}
.IMG_list img {
    border-radius: 10px;
    margin: 20px 0;
}

.IMG_title {
    text-align: center;
    /* color: red; */
}
